// 颜色定义规范
$color-text = #333
$color-background = #fff
$color-mark = #f0f0f0
$color-theme = #4897f9

// 字体定义规范
$font-size-sm = 12px
$font-size-md = 14px
$font-size-lg = 16px
$font-size-sg = 18px
$font-size-mg = 20px

// 层级定义规范
$zIndex-brothers = 10
$zIndex-mark = 100
$zIndex-dialog = 2000
$zIndex-toast = 3000
