body, html
  line-height 1
  font-family Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
  -webkit-tap-highlight-color transparent
  height 100%
  background-color $color-mark